@import "modern-normalize";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 5px 8px;

  transition: background-color 300ms linear, color 300ms linear;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgb(59, 59, 255);
  color: white;
}

#root{
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

.phone{
  animation: phoneAnimation 1s linear infinite;
  transform: translateY(30vh);
  fill: green;
  width: 20vh;
  height: 20vh;
}

.phone::after{
  display: flex;
  content: '';
  width: 1000px;
  height: 1000px;
  background-color: black;
}

@keyframes phoneAnimation {
10%{
  transform: translateY(30vh);
}
20%{
  transform: translateY(30vh) rotateZ(-5deg);
}
30%{
  transform: translateY(30vh) rotateZ(5deg);
}
40%{
  transform: translateY(30vh) rotateZ(0);
}

}